<div class="card container" style="max-height: 100vh;">
  <div class="card-header">
    <h2 class="text-center">Dashboard</h2>
  </div>

  <div id="history" class="container col-12">
    {{reverse workouts}}
    {{#each workouts}}
    <div class="row">
      {{#if this.routine.name_routine}}
      <div class="col-6 text-center">
        <span>{{this.routine.name_routine}}</span>
      </div>
      {{else}}
      <div class="col-6 text-center">
        <span>Deleted Routine</span>
      </div>
      {{/if}}
      <div class="col-6 text-center">
        <span>{{format_date this.date}}</span>
      </div>
    </div>
    {{/each}}
  </div>
  <br>
  <div class="text-center">
    <span>Last Seven Workouts</span>
  </div>
  <br>

  <div id="analytics">
    <canvas id="myChart"></canvas>
  </div>
</div>






<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="/javascript/dashboard.js"></script>