<div class="card">
  <div class="card-header">
    <h2>Dashboard</h2>
  </div>
  <div id="history">

<script src="/javascript/dashboard.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>