<div class="card">
  <div class="card-header">
    <h2>Dashboard</h2>
  </div>
  <div id="history">
    {{#each workouts}}
    <div>{{this.routine.name_routine}} {{this.date}}</div>
    {{/each}}

  </div>
  <div>
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>

  <div id="analytics">
    <canvas id="myChart"></canvas>

  </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="/javascript/dashboard.js"></script>