<div class="card">
  <div class="card-header">
    <h2 class="text-center">Dashboard</h2>
  </div>
  <br>
  <span class="text-center">Last Seven Workouts</span>
  <br>
  <div id="history" class="container">
    {{#each workouts}}
    <div class="row">
      <div class="col-6 text-center">
        <span>{{this.routine.name_routine}}</span>
      </div>
      <div class="col-6 text-center">
        <span>{{format_date this.date}}</span>
      </div>
    </div>
    {{/each}}

    {{!--
  </div>
  <div class="row">
    <div class="col-6 text-center">
      <span>Legs</span>
    </div>
    <div class="col-6 text-center">
      <span>01/02/2021</span>
    </div>
  </div>
  <div class="row">
    <div class="col-6 text-center">
      <span>Back</span>
    </div>
    <div class="col-6 text-center">
      <span>01/03/2021</span>
    </div>
  </div>
  <div class="row">
    <div class="col-6 text-center">
      <span>Core</span>
    </div>
    <div class="col-6 text-center">
      <span>01/04/2021</span>
    </div>
  </div>
  <div class="row">
    <div class="col-6 text-center">
      <span>Shoulders</span>
    </div>
    <div class="col-6 text-center">
      <span>01/05/2021</span>
    </div>
  </div>
  <div class="row">
    <div class="col-6 text-center">
      <span>Chest</span>
    </div>
    <div class="col-6 text-center">
      <span>01/06/2021</span>
    </div>
  </div>
  <div class="row">
    <div class="col-6 text-center">
      <span>Legs</span>
    </div>
    <div class="col-6 text-center">
      <span>01/07/2021</span>
    </div>
  </div> --}}
  <br>

  <br>
  {{!-- <span>Legs 01/02/2021</span>
  <span>Back 01/03/2021</span>
  <span>Core 01/04/2021</span>
  <span>Shoulders 01/05/2021</span>
  <span>Chest 01/06/2021</span>
  <span>Legs 01/07/2021</span> --}}


</div>


<div id="analytics">
  <canvas id="myChart"></canvas>

</div>

</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="/javascript/dashboard.js"></script>