<div class="card">
  <div class="card-header">
    <h2>home</h2>
    <div class="row">
      <img src="" alt="example of chart">
    </div>
        <div class="row">
      <img src="" alt="example of workout">
    </div>
        <div class="row">
      <img src="" alt="example of routine">
    </div>
  </div>



