<div class="card">
  <div class="card-header">
    <div class="row">
      <img src="./images/Routine.PNG" alt="example of routine" style="width: 50%; margin:0 auto">
      <p class="text-center">
        Create a routine or multiple routines to organize your workouts!
      </p>
    </div>
    <div class="row">
      <img src="./images/workout.PNG" alt="example of workout" style="width: 50%; margin:0 auto">
      <p class="text-center">
        A well organize workouts can help achieve the desire results.
      </p>
    </div>
    <div class="row">
      <img src="./images/chart.PNG" alt="example of chart" style="width: 50%; margin:0 auto">
      <p class="text-center">
        Tracks your workouts!
      </p>
    </div>
  </div>