<div class="card">
  <div class="card-header">
    <div class="row">
      <img src="../public/images/Routine.PNG" alt="example of routine">
      <p>
        Create a routine or multiple routines to organize your workouts!
      </p>
    </div>
    <div class="row">
      <img src="" alt="example of workout">
      <p>
        A well organize workouts can help achieve the desire results.
      </p>
    </div>
    <div class="row">
      <img src="../public/images/chart.PNG" alt="example of chart">
      <p>
        Tracks your workouts!
      </p>
    </div>
  </div>