<div class="posts list-group">
  <div class= "row">

    <form class="routine-form" action="">
      <input type="text" id="routine_name" value="">
      <button type= "submit">Create</button>
    </form>

  </div> 
</div>
<script src="/javascript/routine.js"></script>