{{!-- @media (max-width: 767.98px) { ... } --}}
<h4 class="text-center">myRoutines</h4>
<div class="row text-center">
  <div class="input-group">
    <select class="custom-select col-auto rounded" id="inputGroupSelect01">
      <option selected>Choose...</option>
      {{#each routine}}
      <option>{{name_routine}}</option>
      {{/each}}
      {{!-- <option value="2">Two</option>
      <option value="3">Three</option> --}}
    </select>
    <div class="input-group-append col-3">
      <button class="btn rounded" type="button" id="go">GO</button>
    </div>
  </div>
</div>
<h5 class="text-center rounded">
  Create New Routine
</h5>
<div class="row">
  <div class="input-group">
    <div class="col-auto">
      <input type="text" class="form-control rounded" placeholder="Exercise" id="exercise">
    </div>
    <div class="col-2">
      <input type="text" class="form-control rounded" placeholder="Sets" id="sets">
    </div>
    <div class="col-3">
      <input type="text" class="form-control rounded" placeholder="Reps" id="reps">
    </div>

    <button type="button" class="btn rounded" id="addbtn">Add Exercise</button>


    {{!-- <button class="col-auto" type="button">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Exercise
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {{#each array_of_exercises }}
        <a class="dropdown-item" href="#">{{this}}</a>
        {{/each}}
    </button>
    <button class="col-3" type="button">Sets</button>
    <button class="col-3" type="button">Reps</button> --}}

  </div>

</div>

<div class="results container-fliud">
{{!--   
  <div class="row align-center plan">
    <div class="col-auto">
      <p class=""> Exercise </p>
    </div>
    <div class="col-2">
      <p> Sets </p>
    </div>
    <div class="col-3">
      <p> Reps </p>
    </div>
    <div class="col-2 col-md-1">
      <button class="btn" type="button" id="delete">X</button>
    </div>
  </div>

  <div class="row align-center plan">
    <div class="col-auto">
      <p class=""> Exercise </p>
    </div>
    <div class="col-2">
      <p> Sets </p>
    </div>
    <div class="col-3">
      <p> Reps </p>
    </div>
    <div class="col-2 col-md-1">
      <button class="btn" type="button">X</button>
    </div>
  </div> --}}

  <div class="d-flex justify-content-center">
    <button type="submit" id="newRoutine">Save myRoutine</button>
  </div>


</div>


<script src="/javascript/routine.js"></script>