<div class="workout">
  <Span class="routine">{{routine_id}}</Span>
  {{#each array_of_results}}
  <div class="row">
    <div class="">{{name}}</div>
    <div class="">{{reps}}</div>
    <div class="">{{sets}}</div>
  </div>
  {{/each}}
</div>
</div>