
<h2 class="routine text-center">{{routine.name_routine}}</h2>
{{#each array_of_results}}
<div class="row segment">
  <div class="col-auto">{{this.name}}</div>
  <div class="col-3">{{this.reps}}</div>
  <div class="col-3">{{this.sets}}</div>
  <input type="checkbox" data-ng-model="rememberMe" class="pull-right mycheckbox col-1 align-bottom"
    style="margin-top: auto;">
</div>
<br>
{{/each}}
</div>
{{!-- <div class="routine text-center">
  <h2 class="text-center">Custom myRoutine</h2>
</div>
<br>
<div class="row segment">
  <div class="col-auto">EXERCISE</div>
  <div class="col-3">SETS</div>
  <div class="col-3">REPS</div>
  <div class="col-1"></div>
</div>
<br>
<div class="row segment">
  <div class="col-auto">Bench Press</div>
  <div class="col-3">3</div>
  <div class="col-3">10</div>
  <input type="checkbox" data-ng-model="rememberMe" class="pull-right mycheckbox col-1 align-bottom"
    style="margin-top: auto;">
</div>

<br>

<div class="row segment">
  <div class="col-auto">Squats</div>
  <div class="col-3">3</div>
  <div class="col-3">10</div>
  <input type="checkbox" data-ng-model="rememberMe" class="pull-right mycheckbox col-1 align-bottom"
    style="margin-top: auto;">
</div>

<br>

<div class="row segment">
  <div class="col-auto">Deadlift</div>
  <div class="col-3">5</div>
  <div class="col-3">5</div>
  <input type="checkbox" data-ng-model="rememberMe" class="pull-right mycheckbox col-1 align-bottom"
    style="margin-top: auto;">
</div>

<br>

<div class="row segment">
  <div class="col-auto">Dumbell Fly</div>
  <div class="col-3">4</div>
  <div class="col-3">8</div>
  <input type="checkbox" data-ng-model="rememberMe" class="pull-right mycheckbox col-1 align-bottom"
    style="margin-top: auto;">
</div>

<br>

<div class="row segment">
  <div class="col-auto">Shoulder Press</div>
  <div class="col-3">3</div>
  <div class="col-3">10</div>
  <input type="checkbox" data-ng-model="rememberMe" class="pull-right mycheckbox col-1 align-bottom"
    style="margin-top: auto;">
</div>

<br>

<div class="row segment">
  <div class="col-auto">Butt Kickers</div>
  <div class="col-3">5</div>
  <div class="col-3">15</div>
  <input type="checkbox" data-ng-model="rememberMe" class="pull-right mycheckbox col-1 align-bottom"
    style="margin-top: auto;">
</div>

<br>

<div class="row segment">
  <div class="col-auto">Upright Row</div>
  <div class="col-3">3</div>
  <div class="col-3">10</div>
  <input type="checkbox" data-ng-model="rememberMe" class="pull-right mycheckbox col-1 align-bottom"
    style="margin-top: auto;">
</div>

<br>

<div class="row segment">
  <div class="col-auto">Push Ups</div>
  <div class="col-3">3</div>
  <div class="col-3">20</div>
  <input type="checkbox" data-ng-model="rememberMe" class="pull-right mycheckbox col-1 align-bottom"
    style="margin-top: auto;">
</div>

<br>

<div class="row segment">
  <div class="col-auto">Burpees</div>
  <div class="col-3">5</div>
  <div class="col-3">10</div>
  <input type="checkbox" data-ng-model="rememberMe" class="pull-right mycheckbox col-1 align-bottom"
    style="margin-top: auto;">
</div>

<br>

<div class="row segment">
  <div class="col-auto">Ab Crunches</div>
  <div class="col-3">5</div>
  <div class="col-3">10</div>
  <input type="checkbox" data-ng-model="rememberMe" class="pull-right mycheckbox col-1 align-bottom"
    style="margin-top: auto;">
</div>

<br>

<div class="row segment">
  <div class="col-auto">Lunges</div>
  <div class="col-3">5</div>
  <div class="col-3">10</div>
  <input type="checkbox" data-ng-model="rememberMe" class="pull-right mycheckbox col-1 align-bottom"
    style="margin-top: auto;">
</div>

<br>

<div class="row segment">
  <div class="col-auto">Situps</div>
  <div class="col-3">5</div>
  <div class="col-3">10</div>
  <input type="checkbox" data-ng-model="rememberMe" class="pull-right mycheckbox col-1 align-bottom"
    style="margin-top: auto;">
</div> --}}