::-webkit-input-placeholder {
  color: black;
  text-align: center;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: black;
  text-align: center;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: black;
  text-align: center;
}
:-ms-input-placeholder {
  color: black;
  text-align: center;
}

* {
  box-sizing: border-box;
}
img { 
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
  display: block; 
} 

body {
  
  /* background-image: linear-gradient(white,#ff6384); */
  background-color: #FFF;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* font-weight: bold; */
  color: var(--dark);
  line-height: 1.5;
  font-size: 16px;
 
}
input[type='checkbox'] {
  -webkit-appearance:none;
  width:30px;
  height:30px;
  background: white;
  border-radius:4px;
  border:2px solid #ff6384;
  margin-top: 15px;
}
input[type='checkbox']:checked {
  background: #ff6384;
}

.workoutList {
  padding-left: 0%;
  padding-right: 0%;
}

.TT {
  font-weight: bolder;
}
.banner {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 30px;
  background-color: #FFF;
}
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
  color: var(--dark);
  line-height: 1.25;
}

h2 a:visited {
  color: var(--tertiary);
}

h2 a {
  color: var(--primary);
}

header {
  margin-top: 50px;
}

main {

  margin: 20px auto;
  width: 94%;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.2rem;
}
.plan {
  background-image: linear-gradient(white,  #888888);
 
  border:0.5px solid #ff6384;
}
.segment {
  background-image: radial-gradient(white, #225969);
  /* background: #ff6384; */
}

.TT {
  background-image: linear-gradient(white, #ff6384);
}

input {
    width: 100%;
    border: 1px solid black;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

.card-header h2 {
  color: var(--primary);
}

#goBtn {
 bottom: 9%;
}
.btn {
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
  padding: 6px 5px;
  width: 100%;
  display: block;
  margin: 5px 0;
  border-radius: var(--border-radius);
  /* color: var(--primary); */
  border: 1px;
  border-color: white;
  outline: 1px;
  background-image: radial-gradient(white, #225969);
  box-shadow: 3px 3px var(--dark);
  transform: translate(-1px, -1px);
}

.btn:hover {
  /* color: var(--primary); */
  background-color: whitesmoke;
  transform: translate(0, 0);
  box-shadow: 2px 2px var(--dark);
}

.btn-inline {
  display: inline;
}

.li-inline {
  display: inline;
}

.navbar {
  width: 100%;
  position: fixed;
  background-image: linear-gradient( white, #225969);
  background-size: cover;
  /* background-color: var(--dark); */
  box-shadow: 0px 0px 10px 10px #888888;
  z-index: 10;
}

.nav-item {
  margin: 0 40px;
}

.nav-item a {
  color: var(--primary);
}
#navbarToggleExternalContent {
  background-image: linear-gradient(#225969,#888888);

}

.hero {
  padding: 3% 4%;
  background-color: var(--dark);
  color: var(--primary);
}

.hero p {
  max-width: 75%;
}

.app-title {
  font-size: 3rem;
  background-color: var(--primary);
  color: var(--dark);
  padding: 0 10px;
  display: inline-block;
  border-radius: var(--border-radius);
  box-shadow: 6px 5px var(--light-dark);
}

.app-title a {
  color: var(--dark);
}

.list-group {
  padding: 1%;
}

.list-item {
  margin-bottom: 10px;
  padding: 1.5%;
  border-radius: var(--border-radius);
  background-color: var(--light-dark);
  color: var(--primary);
  text-decoration: none;
}

.list-item:hover {
  background-color: var(--dark);
}

footer {
  background-image: linear-gradient(  #225969, white);
  box-shadow: 0px 0px 10px 5px #888888;
  z-index: 10;
}

.footer a {
  display: inline-block;
  padding: 1em;
  margin-bottom: .5em;
  background-color: var(--dark);
  color: var(--primary);
  border-radius: var(--border-radius);
  text-decoration: none;
}

/* CARDS */
.card {
  margin: 0 0 20px 0;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  height: 100%;
}

.card-header {
  color: var(--primary);
  background-color: var(--dark);
  padding: 1%;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  padding: 1%;
}

/* FORM */
.form-label,
.form-input,
.form-textarea {
  display: block;
}

.form-label {
  font-size: 1.1rem;
  margin: 0 0 0 5px;
}

.form-input {
  width: 100%;
  padding: 1%;
  margin: 5px 0;
  font-size: 1.2rem;
  border: 2px solid var(--light-dark);
  border-radius: var(--border-radius);
}

/* HEIGHT / WIDTH UTILS */
.min-100-vh {
  min-height: 100vh;
}

.min-100-vw {
  min-width: 100vw;
}

/* FONT UTILS */
.text-uppercase {
  text-transform: uppercase;
}

/* FLEX CONTENT */
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.align-stretch {
  align-items: stretch;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.col-auto {
  flex-grow: 1;
}

#dress {
  height: 54px;
}

.routine {
  margin-bottom: 10px;
}
.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x)/ -2);
  margin-left: calc(var(--bs-gutter-x)/ -2);
}
.custom-select {
  background-color: #FFF;
}
#history {
  max-height: 200px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  box-shadow: 0px 0px 10px 5px inset #0000002e;
  padding-left: 0px;
  padding-right: 0px;
}

.divider {
  border-top: 1px solid rgba(116, 115, 115, 0.795);
}